events {}

http {
    upstream backend {
        server flandria:5000;
    }

    # Using "envsubst" to determine if a local dev-configuration without ssl or a production ssl-provided configuration
    # should be loaded
    # See: https://github.com/docker-library/docs/tree/master/nginx#using-environment-variables-in-nginx-configuration
    include ${APP_ENV}/server.conf;
}