name: Run checks

on: [push, pull_request]

jobs:
  test-backend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          cache: 'pip'
      - run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
        working-directory: backend
      - run: coverage run -m pytest
        working-directory: backend
      - run: coverage xml
        working-directory: backend
        if: always()
      - name: Fix code coverage paths
        if: always()
        run: |
          sed -i 's/\/home\/runner\/work\/flandria\/flandria\//\/github\/workspace\//g' backend/coverage.xml
      - name: Archive code coverage results
        if: always()  # Upload results even if test-step failed
        uses: actions/upload-artifact@v3
        with:
          name: backend-code-coverage-report
          path: backend/coverage.xml

  test-frontend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '18.9'
          cache: 'npm'
          cache-dependency-path: 'frontend/package-lock.json'
      - name: Install dependencies
        run: npm ci
        working-directory: frontend
      - run: npm run build --if-present
        working-directory: frontend
      - run: npm test -- --coverage
        working-directory: frontend
      - name: Archive code coverage results
        uses: actions/upload-artifact@v3
        with:
          name: frontend-code-coverage-report
          path: frontend/coverage/lcov.info

  sonar:
    runs-on: ubuntu-latest
    if: always()  # Run even if test-steps failed
    needs: [ test-backend, test-frontend ]
    steps:
      - uses: actions/checkout@v3
        with:
          # Disabling shallow clone is recommended for improving relevancy of reporting
          fetch-depth: 0
      - name: Get backend code coverage report from test-job
        uses: actions/download-artifact@v3
        with:
          name: backend-code-coverage-report
      - name: Get frontend code coverage report from test-job
        uses: actions/download-artifact@v3
        with:
          name: frontend-code-coverage-report
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
